
/* Cell phones to small tablets */

@media only screen and (max-width: 1125px){
	.logo{
		margin-left: 44%;
	}
		.main-nav{
			margin-left: 34%;
		}
}
@media only screen and (max-width: 825px){
	.logo{
	margin-left: 38.5%;
	}
	.main-nav{
	margin-left: 24.5%;
	}
	.heading-main-box{
		margin-left: -8%;
	}
}

@media only screen and (max-width: 650px){
	.logo{
		margin-left: 35%;
	}
	.main-nav{
		margin-left: 18.5%;
	}
	.heading-main-box{
		margin-left: -12%;
	}
}
@media only screen and (max-width: 500px){
	.main-nav{
		margin-left: 12.5%;
	}
	.heading-main-box{
		margin-left: -15%;
	}
}
